* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 190px;
  background: #FFF;
}

main {
  width: 100%;
  height: 6000px;
}

.nav-bar__img {
  margin-left: 200px;
  margin-top: 20px;
}

.nav-bar__a-1 {
  margin-left: 461px;
  margin-top: 18px;
  color: #22343D;
}

.nav-bar__a-2 {
  margin-left: 31px;
  margin-top: 18px;
  color: #22343D;
}

.nav-bar__a-3 {
  margin-left: 31px;
  margin-top: 18px;
  color: #22343D;
}

.nav-bar__a-4 {
  margin-left: 31px;
  margin-top: 18px;
  color: #22343D;
}

.nav-bar__button-1 {
  width: 92px;
  margin-left: 40px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
}

.nav-bar__button-2 {
  width: 92px;
  margin-left: 30px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
}

.nav-bar__text {
  color: #173A56;
  left: 252px;
  top: 28px;
  font-size: 30px;
  position: absolute;
}

.main-div__text-1 {
  margin-left: 159px;
  top: 225px;
  position: absolute;
  color: #22343D;
  font-size: 49px;
}

.main-div__text-2 {
  margin-left: 159px;
  margin-top: 158px;
}

.main-div__button-1 {
  width: 175px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #02897A;
  margin-left: 159px;
  margin-top: 45px;
  color: #FFF;
}

.main-div__img-1 {
  left: 364px;
  top: 465px;
  position: absolute;
}

.main-div__a-1 {
  left: 390px;
  top: 465px;
  position: absolute;
  color: #02897A;
}

.main-div__img-2 {
  left: 690px;
  top: 150px;
  position: absolute;
}

.main-div__text-3 {
  margin-left: 49px;
  margin-top: 312px;
  color: #22343D;
  text-align: center;
  font-size: 32px;
}

.main-div__img-3 {
  margin-left: 150px;
  margin-top: 76px;
}

.main-div__text-4 {
  margin-left: 150px;
  margin-top: 25px;
  color: #22343D;
}

.main-div__text-5 {
  margin-left: 150px;
  margin-top: 10px;
  color: #22343D;
}

.main-div__img-4 {
  margin-left: 440px;
  top: 960px;
  position: absolute;
}

.main-div__text-6 {
  margin-left: 440px;
  color: #22343D;
  top: 1051px;
  position: absolute;
}

.main-div__text-7 {
  margin-left: 440px;
  color: #22343D;
  top: 1101px;
  position: absolute;
}

.main-div__img-5 {
  margin-left: 760px;
  top: 960px;
  position: absolute;
}

.main-div__text-8 {
  margin-left: 760px;
  color: #22343D;
  top: 1051px;
  position: absolute;
}

.main-div__text-9 {
  margin-left: 760px;
  color: #22343D;
  top: 1101px;
  position: absolute;
}

.main-div__img-6 {
  margin-left: 1100px;
  top: 960px;
  position: absolute;
}

.main-div__text-10 {
  margin-left: 1100px;
  color: #22343D;
  top: 1051px;
  position: absolute;
}

.main-div__text-11 {
  margin-left: 1100px;
  color: #22343D;
  top: 1101px;
  position: absolute;
}

.main-div__button-2 {
  width: 175px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #02897A;
  color: #FFF;
  margin-left: 685px;
  margin-top: 85px;
}

.main-div__div-1 {
  width: 80%;
  height: 500px;
  top: 1486px;
  margin-left: 155px;
  position: absolute;
}

.div-1__text-2 {
  margin-top: 8px;
  color: #22343D;
  font-size: 32px;
}

.div-1__text-3 {
  margin-top: 23px;
  color: #22343D;
}

.div-1__text-4 {
  margin-top: 30px;
  color: #22343D;
}

.div-1__text-5 {
  margin-top: 12px;
  color: #22343D;
}

.div-1__text-6 {
  margin-top: 25px;
  color: #22343D;
}

.div-1__text-7 {
  margin-top: 12px;
  color: #22343D;
}

.div-1__img {
  margin-left: 600px;
  top: -60px;
  position: absolute;
}

.main-div__div-2 {
  width: 80%;
  height: 500px;
  top: 2091px;
  margin-left: 155px;
  position: absolute;
}

.div-2__text-1 {
  margin-left: 779px;
  top: 0px;
  position: absolute;
  color: #22343D;
}

.div-2__text-2 {
  margin-top: -470px;
  margin-left: 779px;
  color: #22343D;
}

.div-2__text-3 {
  margin-top: 23px;
  margin-left: 779px;
  color: #22343D;
}

.div-2__img-2 {
  margin-top: 38px;
  margin-left: 779px;
}

.div-2__text-4 {
  margin-left: 844px;
  margin-top: -40px;
  color: #22343D;
  font-size: 16px;
}

.div-2__img-3 {
  margin-top: 47px;
  margin-left: 779px;
}

.div-2__text-5 {
  margin-left: 844px;
  margin-top: -40px;
  color: #22343D;
  font-size: 16px;
}

.div-2__img-4 {
  margin-top: 47px;
  margin-left: 779px;
}

.div-2__text-6 {
  margin-left: 844px;
  margin-top: -40px;
  color: #22343D;
  font-size: 16px;
}

.main-div__div-3 {
  width: 80%;
  height: 500px;
  top: 2741px;
  margin-left: 155px;
  position: absolute;
}

.main-div__text-11 {
  top: 3395px;
  left: -506px;
  position: absolute;
}

.main-div__text-12 {
  top: 3459px;
  left: 529px;
  position: absolute;
  text-align: center;
}

.main-div__img-7 {
  top: 3543px;
  left: 240px;
  position: absolute;
}

.main-div__text-13 {
  top: 3583px;
  left: 379px;
  position: absolute;
  color: #2F281E;
}

.main-div__img-8 {
  left: 1100px;
  top: 3543px;
  position: absolute;
}

.main-div__text-14 {
  top: 3583px;
  left: 900px;
  position: absolute;
  color: #2F281E;
}

.main-div__img-9 {
  left: 519px;
  top: 3665px;
  position: absolute;
}

.main-div__text-15 {
  left: 323px;
  top: 3704px;
  color: #2F281E;
  position: absolute;
}

.main-div__img-10 {
  left: 848px;
  top: 3665px;
  position: absolute;
}

.main-div__text-16 {
  left: 980px;
  top: 3704px;
  position: absolute;
  color: #2F281E;
}

.main-div__button-3 {
  width: 216px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #02897A;
  left: 640px;
  top: 3821px;
  position: absolute;
  color: #FFF;
}

.main-div__text-17 {
  left: 146px;
  top: 4015px;
  position: absolute;
  color: #22343D;
  font-size: 34px;
}

.main-div__text-18 {
  left: 146px;
  top: 4074px;
  position: absolute;
  color: #22343D;
  font-size: 16px;
}

.main-div__div-4 {
  width: 348px;
  height: 359px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  left: 146px;
  top: 4133px;
  position: absolute;
}

.div-4__text {
  left: 24px;
  top: 209px;
  position: absolute;
}

.div-4__text-2 {
  left: 24px;
  top: 249px;
  position: absolute;
  color: #22343D;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.main-div__div-5 {
  width: 348px;
  height: 359px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  left: 556px;
  top: 4133px;
  position: absolute;
}

.div-4__img {
  border-radius: 8px;
}

.main-div__div-6 {
  width: 348px;
  height: 359px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  left: 965px;
  top: 4133px;
  position: absolute;
}